/RBSGenerator/tools/BodySlide/ShapeData/
/RBSGenerator/tools/BodySlide/SliderPresets/
/RBSGenerator/tools/BodySlide/SliderSets/
/RBSGenerator/tools/BodySlide/meshes/
/RBSGenerator/tools/BodySlide/SliderGroups/
/RBSGenerator/tools/BodySlide/sources/
/meshes/
/nbproject/private/
/RBSGenerator/build/
/RBSGenerator/dist/
/skyrim.ini
/plugins.txt
/SkyProcPatcher/
/Files/