<BodySlideConfig>
    <GameDataPath>D:\Mod Organizer\mods\RealisticBodySystem\RBSGenerator\tools\Bodyslide\</GameDataPath>
    <MeshOutputPath>MeshesTemp\</MeshOutputPath>
    <SelectedPreset>RBS200</SelectedPreset>
    <BodySlideFrame width="1928" height="1164" x="0" y="19"></BodySlideFrame>
    <LastGroupFilter></LastGroupFilter>
    <LastOutfitFilter>wav-TBBP</LastOutfitFilter>
    <SelectedOutfit>CT77 Imperial Light</SelectedOutfit>
</BodySlideConfig>
