<BodySlideConfig>
    <GameDataPath>S:\Mod Organizer\mods\RBS\RBS\tools\bodyslide\</GameDataPath>
    <MeshOutputPath>MeshesTemp\</MeshOutputPath>
    <SelectedPreset>RBS030</SelectedPreset>
    <BodySlideFrame width="1918" height="1154" x="0" y="19"></BodySlideFrame>
    <LastGroupFilter></LastGroupFilter>
    <LastOutfitFilter>CT77</LastOutfitFilter>
    <SelectedOutfit>CalienteBodyAdvanced TBBP</SelectedOutfit>
</BodySlideConfig>
